h1 {
  font-size:68pt;
  font-weight:bold;
  text-align:left;
  letter-spacing:-8px;
  color:#f0f0f0;
  margin:-32px 0px;
}
p {
    margin:0px;
    color:#666;
    font-size:16pt;
}

th {
  font-size:14pt;
  text-align:left;
  padding:5px 20px;
  margin:0px;
  border-bottom:1px solid gray;
}
td {
  font-size:14pt;
  font-weight:plain;
  text-align:left;
  padding:5px 20px;
  margin:0px;
  border-bottom:1px solid gray;
}
